*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1d2026;
    color: #fff;
        
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 10%;
}

nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo{
    width: 160px;
    cursor: pointer;
    background-color: transparent !important;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    z-index: 99px;
    position: relative;
}

button{
    border-radius: 20px;
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s  ;
}

button span{
    display: block;
    background-color: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

.lamp-container{
    top: -20px;
    left: 22%;
    width: 200px;
    position: absolute;
}

.lamp{
    width: 100%;
}

.light{
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s ;
}

.text-container{
    width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1{
    font-size: 70px;
    font-weight: 400;
    position: relative;
}

.text-container h1 span {
    color: #00986f;
}

.text-container h1 ::after{
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 45%;
    background-color: #00986f;
    margin-top: 2px;
}
p{
    margin-top: 6%;
    font-size: 20px;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}

.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line {
    width: 250px;
    height: 4px;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 6px;
    margin-top: -2px;
    border-radius: 4px;
    background-color: #00986f;
    display: block;
}

.active{
    background: green;
}

.active span{
    background: #fff;
    margin-left: 31px;
}

.on{
    opacity: 1;
}

@media only screen and (max-width: 768px){
    .hero{
        min-height: 100vh;
        overflow: hidden  ;
    }
    nav{
        padding: 20px 5%;
    }
    nav ul li{
        margin: 0 10px;
    }

    nav ul{
        display: none;
    }
    button{
        position: relative;
        left: 40%;
    }
    .text-container{
        width: 90%;
        margin-left: 5%;
        margin-top: 40vh;
    }
    .text-container h1{
        font-size: 45px;
        font-weight: bold;
    }
    .text-container p{
        font-size: 18px;
    }

    nav .logo{
        width: 110px;
    }
    
    .lamp-container .lamp{
        width: 70%;
        margin-left: 65px;
    }

    .light{
        width: 150%;
        margin-left: 30px;
    }
    .text-container h1 ::after{
        width: 70% ;
    }
}